In [ ]:
Assignment ON Pandas

In [2]:
import pandas as pd

In [8]:
 a = pd.Series([40,2,4,670,7,90,1,20]) # Assignment: create a series for 40,2,4,670,7,90,1,20

0     40
1      2
2      4
3    670
4      7
5     90
6      1
7     20
dtype: int64

In [9]:
a.ndim              #Assignment:checking all the properties for series

1

In [10]:
a.size

5

In [11]:
len(a)

5

In [12]:
a.count()

5

In [13]:
a.shape           # its 1 D

(5,)

In [14]:
a.dtype

dtype('int64')

In [17]:
a.memory_usage()

172

In [18]:
a.values                # fetch data only

array([ 120,    1, 9000,   22,   18], dtype=int64)

In [19]:
a.index                  # fetch data only

RangeIndex(start=0, stop=5, step=1)

In [22]:
a.min() or min(a)

1

In [24]:
a.max()

9000

In [30]:
n = pd.Series(['Mangesh','1','2.j','Roshni','Roshni','Suvarna'])
n

0    Mangesh
1          1
2        2.j
3     Roshni
4     Roshni
5    Suvarna
dtype: object

In [29]:
n.mode()            # Assignment: Check mode on Hetro. data

0         1
1    Roshni
dtype: object

In [ ]:
# Assignment: Create a Series of Names add some duplicate entries and check drop_duplicates()
# with keep= First,Last and False

In [45]:
names = pd.Series(['kiran','abhijeet','yamin_sir','megha','pragati','sachin','pragati','kiran','kiran','puja'])
print(names)

0        kiran
1     abhijeet
2    yamin_sir
3        megha
4      pragati
5       sachin
6      pragati
7        kiran
8        kiran
9         puja
dtype: object

In [46]:
names.drop_duplicates(keep='first')   #with keeping first

0        kiran
1     abhijeet
2    yamin_sir
3        megha
4      pragati
5       sachin
9         puja
dtype: object

In [47]:
names.drop_duplicates(keep='last')    #with keeping last

1     abhijeet
2    yamin_sir
3        megha
5       sachin
6      pragati
8        kiran
9         puja
dtype: object

In [48]:
names.drop_duplicates()            #drops all duplicate values

0        kiran
1     abhijeet
2    yamin_sir
3        megha
4      pragati
5       sachin
9         puja
dtype: object

In [49]:
names.drop_duplicates(keep=False)

1     abhijeet
2    yamin_sir
3        megha
5       sachin
9         puja
dtype: object